
body {
    width: 800px;
    background-image: url("../images/bricks.jpg");
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Acme', sans-serif;
    margin: 8px;
    padding: 10px;
    width: 800px;
    font-size: 55px;
    text-align: center;
    color: red;
    font-weight: bold;
}

.game-instructions {
    font-family: 'Gloria Hallelujah', cursive;
    width: 800px;
    margin: 8px;
    padding: 10px;
    font-size: 20px;
    color: black;
}
h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.random-number-container {
    text-align: center;
    font-size: 20px;
}

#wins, #losses, #result {
    font-family: 'Orbitron', sans-serif;
}

#random-number{
    font-size: 50px;
    text-align: center;
    margin: 8px;
    color: black;
    width: 800px;
}

.info-box-score {
    text-align: center;
    margin: 8px;
    padding: 10px;
    font-size: 45px;
    color: black;
    font-weight: bold;
    border: solid;
}

#result{
    text-align: center;
    font-size: 16px;
    margin: 8px;
    color: black;
    width: 120px;
    padding: 5px;
}

#wins {
    text-align: center;
    font-size: 16px;
    margin: 8px;
    color: black;
    width: 120px;
    padding: 5px;
}

#losses {
    text-align: center;
    font-size: 16px;
    margin: 8px;
    color: black;
    width: 120px;
    padding: 5px;
}

.gem-images {
    margin: 10px;
    width: 800px;
}

#red-gem, #blue-gem,
#yellow-gem, #green-gem {
    width: 172px;
    height: 100px;
    border: solid;
    padding-left: auto;
    padding-right: auto;
    border-radius: 25px;
}

h3 {
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: red;
}

#blue-gem{
    background: white;
}

.current-score-container {
    text-align: center;
}

#current-score {
    padding-top: 10px;
    text-align: center;
    color: black;
    font-size: 50px;
}
h4 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: red;
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
}
