
body {
    width: 450px;
    background-image: url("../images/whitepaint.jpg");
}

h1 {
    margin: 8px;
    padding: 10px;
    width: 320px;
    font-size: 45px;
    color: white;
    background-color: orange;
    font-weight: bold;
}

.game-instructions {
    margin: 8px;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: tan;
}

#random-number{
    font-size: 50px;
    margin: 8px;
    color: black;
    background: green;
    width: 200px;
    padding: 30px 50px;
}

/* #current-score {
    float: left;
    margin: 8px;
    background: lightblue;
    padding: 50px 20px;
    width: 120px;

} */

.gem-images {
    margin: 8px;

}

#red-gem {
    width: 100px;
    height: 80px;
}

#blue-gem{
    width: 100px;
    height: 80px;
    background: white;
}

#yellow-gem{
    width: 100px;
    height: 80px;
}

#green-gem{
    width: 100px;
    height: 80px;
}

h3 {
    width: 200px;
    font-size: 20px;
    color: white;
    background: teal;
    padding: 8px;
    margin: 8px;
}

#current-score {
    width: 200px;
    color: white;
    background: teal;
    padding: 30px 50px;
    margin: 8px;
    font-size: 50px;
}